
mixin modal() 
	//  start modals
	//- div(id="modal-call"  style="display: none" )
	//- 	+b.modal-win
	//- 		+form-wrap
	//- 			.text-center
	//- 				+e.title.form-data.h3.ttu Обратный звонок
	//- 				p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут

	//- 			+input("Ваше Имя")(required)
	//- 			+input("Ваше телефон",'tel')(required)
	//- 			+input("Ваше телефон",'tel')(required)
	//- 			+e.BUTTON.btn.btn(type="submit"  ) submit
	//- 			+policy()
	//- 			+policy()
	// #modal-call
	div(id="modal-create"  style="display: none" )
		+b.modal-win--lg
			.text-center
				+e.title.form-data.h3 Create art work  from your sketch
				p.after-headline Send&nbsp;us your sketch, we&nbsp;will study it&nbsp;and contact you to&nbsp;discuss the details.
			+form-base() 
				
				+input('Upload File','file')
					.small .JPG, .PNG or .PDF file, max 10 MB
				.text-center
					button.btn.btn-warning(type="submit") Send  
	// #modal-call

	
	// end modals