mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Join&nbsp;us to&nbsp;create 
					span the longest 
						img(src="img/headerBlock.png", alt="")
						| copper composition in&nbsp;the world! 
			+e.btns
				a.btn.btn-warning(href="#") Order Fish
				a.btn.btn-primary(href="#") view gallery
						
	// end headerBlock