include include.pug
include js-css.pug
include ../blocks/modal/_modal.pug
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title title
		meta(name="description", content="FishFlow – the world's largest bronze art composition in Cyprus. Artificial intelligence and ancient bronze casting technologies unite in a unique project. Participate and create your own bronze fish!")
		<meta name="keywords" content="FishFlow, artificial intelligence, bronze sculptures, contemporary art, innovation, AI, Cyprus, technology, bronze casting, art objects">
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		<meta property="og:title" content="FishFlow – Innovative Bronze Sculptures in Cyprus, Created with AI Technology">

		<meta property="og:description" content="Create your own bronze fish using artificial intelligence and become part of the world's largest art composition in Cyprus!">

		 
		meta(name="viewport", content="width=device-width,initial-scale=1.0,  shrink-to-fit=no, viewport-fit=cover")
		link(type="image/ico", href='img/favicon.ico', rel='shortcut icon') 
		<meta name="format-detection" content="telephone=no"> 
		+allcss() 
	block variables
	//- style.
	//- 	.loaded_hiding {  opacity: 0; pointer-events: none;  } .loaded_hiding::before { display: none; }
	//- body.loaded_hiding(class= mainPage) 
	body(class=mainPage data-bg=bg)
		.main-wrapper
			block pagecontent
				h3 content
		
		+modal
		+allcjs()
		block scripts