// start .sAbout
.sAbout {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	position: relative;
	z-index: 2;

	&::before {
		content: "";
		position: absolute;
		width: 200%;
		aspect-ratio: 2390/ 263;
		// height: ;
		left: calc(50%);
		transform: translate(-50%, -50%);
		top: 0;
		z-index: -1;

		background: #022636;
		filter: blur(calc(1vw + 20px));
	}

	.img-1 {
		display: block;
		width: 100%;
		max-width: rem(327);
		margin: 0 auto;
	}
	&__info-card {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: #fff;
		padding: rem(28) rem(25.039);
		max-width: max-content;
		text-align: center;
		min-height: 200px;
		min-width: 200px;
		@include media-breakpoint-up(md) {
			min-height: 260px;
			min-width: 260px;
		}
		@include media-breakpoint-up(lg) {
			min-height: rem(320);
			min-width: rem(320);
		}
		span {
			font-size: 48px;
			line-height: 1;
			font-weight: 600;
			@include media-breakpoint-up(md) {
				font-size: 64px;
			}
			@include media-breakpoint-up(xl) {
				font-size: rem(96);
			}
		}
		p {
			margin-bottom: 0;
			font-weight: 500;
			font-size: rem(14);
			line-height: 1.2;
			@include media-breakpoint-up(md) {
				font-size: rem(16);
			}
			@include media-breakpoint-up(lg) {
				font-size: rem(24);
			}
		}
		&--1 {
			margin-left: auto;
			margin-top: rem(-65);
			z-index: 1;
			@include media-breakpoint-up(lg) {
				margin-top: rem(-210);
			}
		}
		&--3 {
			margin-left: -53px;
			margin-top: 20px;
			@include media-breakpoint-up(md) {
				margin-left: -21.166667rem;
				margin-top: -5.388889rem;
			}
			@include media-breakpoint-up(lg) {
				margin-top: rem(65);
				margin-left: rem(-111);
			}
			@include media-breakpoint-up(xxl) {
				margin-left: rem(-181);
			}
		}
	}
	&__wrap {
		position: relative;
		margin-top: rem(-73.889);
		@include media-breakpoint-up(lg) {
			margin-top: rem(157);
		}
	}
	&__info-card-2 {
		position: absolute;
		bottom: calc(100% - 64px);
		left: calc(100% - 189px);
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: rem(20);
		min-height: 240px;
		width: 240px;
		text-align: center;
		border-radius: 50%;
		@include media-breakpoint-up(md) {
			min-height: 260px;
			width: 260px;
		}
		@include media-breakpoint-up(lg) {
			bottom: calc(100% - 126px);
			left: calc(100% - 249px);
			width: rem(400);
			height: rem(400);
		}
		span {
			font-weight: 600;
			font-size: 48px;
			line-height: 1;
			background: linear-gradient(
				107.98deg,
				#ee751e 10.5%,
				#f0883d 50.34%,
				#d1600f 79.5%
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			@include media-breakpoint-up(md) {
				font-size: 64px;
			}
			@include media-breakpoint-up(lg) {
				font-size: rem(96);
			}
		}
		p {
			margin-bottom: 0;
			max-width: rem(200);
			margin: 0 auto;
			font-weight: 500;
			font-size: 14px;
			line-height: 1.2;
			@include media-breakpoint-up(md) {
				font-size: 16px;
			}
			@include media-breakpoint-up(lg) {
				max-width: rem(240);
				font-size: rem(24);
			}
		}
	}
	&__row {
		max-width: rem(1143);
		margin: 290.63px auto 0;
		@include media-breakpoint-up(md) {
			margin: rem(130.667) auto 0;
		}
		@include media-breakpoint-up(lg) {
			margin: rem(90) auto 0;
		}
	}
	.img-2 {
		width: 100%;
		max-width: rem(336);
		@include media-breakpoint-up(lg) {
			max-width: rem(439);
		}
	}
	.img-3 {
		width: 100%;
		max-width: 260px;
		margin-top: 20px;
		@include media-breakpoint-up(md) {
			margin-top: 0;
			max-width: 330px;
		}
		@include media-breakpoint-up(lg) {
			max-width: rem(438);
		}
	}
	.border-40 {
		border-radius: rem(40);
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAbout
