extends ../layout/main.pug


include ../blocks/top-nav/_top-nav.pug
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/footer/_footer.pug 
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sMap/_sMap.pug
include ../blocks/sHowToOrder/_sHowToOrder.pug
include ../blocks/sGallery/_sGallery.pug
include ../blocks/sReviews/_sReviews.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'Fishflow445.jpg'

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	 
	+top-nav
	main
		+headerBlock  
		+sMap
		+sAbout
		+sHowToOrder
		+sGallery
		+sReviews
		+sPartners
		+sContact()

	+footer
	//- +parts('footer')